* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #040800;
    color: rgb(245, 236, 221);
    scroll-behavior: smooth;
}

/* Giriş Ekranı */

#landing-screen {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 182, 59);
    height: 700px;
    font-size: 30px;
}

#landing-screen div {
    text-align: center;
}

#title {
    text-align: center;
    padding-top: 110px;
    animation: fadeIn 2s;
}

#subtitle {
    color: gray;
    font-size: 25px;
    margin-top: 200px;
    animation: fadeIn 5s;
}

#downicon {
    height: 50px;
    margin-top: 10px;
    opacity: 55%;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* Yiyecekler */

#foods {
    margin: 10px;
    border-color: #b3920015;
    border-style: double;
    border-width: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

#title-foods {
    padding: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

/* Yiyecek */

.food {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(129, 110, 81);
    color: black;
}

.food img {
    margin: 3px;
    height: 250px;
    border: #040800 5px solid;
}

.food-title {
    font-size: 40px;
    margin: -15px;
    text-align: center;
}

.food-desc {
    text-align: center;
    margin-bottom: 15px;
}

.food-price {
    display: flex;
    justify-content: center;
}

.price {
    border: 4px double rgba(0, 0, 0, 0.418);
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 27px;
}
